source ~/.vimrc

let mapleader=","
set idearefactormode=keep
set ideajoin=true
set ideamarks=false

" Emulated plugins
set textobj-entire
set easymotion

" Map IDE actions
map <leader>jr <Action>(RenameElement)
map <leader>jf <Action>(ReformatCode)
map <leader>jp <Action>(OptimizeImports)
map <leader>jg <Action>(GotoDeclaration)
map <leader>ji <Action>(ImplementMethods)
map <leader>jo <Action>(OverrideMethods)
map <leader>jq <Action>(ShowIntentionActions)
map <leader>js <Action>(FileStructurePopup)
map <leader>jm <Action>(GotoImplementation)
map <leader>jv <Action>(SelectInProjectView)
map <leader>ja <Action>(Annotate)
map <leader>jh <Action>(Vcs.ShowTabbedFileHistory)
map <leader>je <Action>(GotoNextError)
map <leader>jz <Action>(ToggleZenMode)
map <leader>jZ <Action>(TogglePresentationMode)
map <leader>jt <Action>(ActivateTerminalToolWindow)
